<div class="row">
  <div class="col-md-12 mb-4">
    <!-- Basic Table -->
    <div class="card h-auto d2c_projects_datatable">
      <div class="card-header">
        <h6>Advance Table</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="d2c_advanced_table">
            <thead>
              <tr>
                <th style="min-width: 170px;">Date</th>
                <th style="min-width: 170px;">Customer</th>
                <th style="min-width: 130px;">Group Name</th>
                <th style="min-width: 130px;">Voucher</th>
                <th style="min-width: 130px;">Payment Type</th>
                <th style="min-width: 130px;">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      20 Mar 2023
                    </label>
                  </div>
                </td>
                <td>Jane Cooper</td>
                <td>Supplier</td>
                <td>58755</td>
                <td class="text-warning">Pending</td>
                <td>$4,323.39</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      19 Jan 2023
                    </label>
                  </div>
                </td>
                <td>Alex Cooper</td>
                <td>Vendor</td>
                <td>58723</td>
                <td class="text-success">Delivered</td>
                <td>$2,432.39</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      16 Mar 2023
                    </label>
                  </div>
                </td>
                <td>Hales Jane</td>
                <td>Customer</td>
                <td>58712</td>
                <td class="text-danger">Unpaid</td>
                <td>$1,582.87</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      23 Jun 2023
                    </label>
                  </div>
                </td>
                <td>Maria D</td>
                <td>Supplier</td>
                <td>34755</td>
                <td class="text-success">Delivered</td>
                <td>$5,582.45</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      12 Aug 2023
                    </label>
                  </div>
                </td>
                <td>Robert Mon</td>
                <td>Customer</td>
                <td>67755</td>
                <td class="text-success">Delivered</td>
                <td>$6,546.32</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      11 May 2023
                    </label>
                  </div>
                </td>
                <td>Brian Depew</td>
                <td>Vendor</td>
                <td>28755</td>
                <td class="text-warning">Pending</td>
                <td>$3,582.6</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      6 Oct 2023
                    </label>
                  </div>
                </td>
                <td>James Murray</td>
                <td>Customer</td>
                <td>11755</td>
                <td class="text-success">Delivered</td>
                <td>$8,432.56</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      10 Oct 2023
                    </label>
                  </div>
                </td>
                <td>Alex Carey</td>
                <td>Vendor</td>
                <td>88755</td>
                <td class="text-success">Delivered</td>
                <td>$1,321.34</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      29 Oct 2023
                    </label>
                  </div>
                </td>
                <td>Jane Cooper</td>
                <td>Vendor</td>
                <td>56735</td>
                <td class="text-danger">Unpaid</td>
                <td>$6,453.66</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      27 Mar 2023
                    </label>
                  </div>
                </td>
                <td>Gary Nunez</td>
                <td>Vendor</td>
                <td>45637</td>
                <td class="text-success">Delivered</td>
                <td>$3,321.54</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      26 Mar 2023
                    </label>
                  </div>
                </td>
                <td>James Bowes</td>
                <td>Customer</td>
                <td>90876</td>
                <td class="text-success">Delivered</td>
                <td>$4,582.39</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      25 Mar 2023
                    </label>
                  </div>
                </td>
                <td>David Sankey</td>
                <td>Expenses</td>
                <td>33425</td>
                <td class="text-warning">Pending</td>
                <td>$4,582.39</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      24 Mar 2023
                    </label>
                  </div>
                </td>
                <td>Paul Clark</td>
                <td>Vendor</td>
                <td>33445</td>
                <td class="text-warning">Pending</td>
                <td>$4,582.39</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      23 Mar 2023
                    </label>
                  </div>
                </td>
                <td>Matt Cogdell</td>
                <td>Customer</td>
                <td>33332</td>
                <td class="text-success">Delivered</td>
                <td>$4,582.39</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      20 Mar 2023
                    </label>
                  </div>
                </td>
                <td>Bill Blevins</td>
                <td>Vendor</td>
                <td>55565</td>
                <td class="text-success">Delivered</td>
                <td>$4,582.39</td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      21 Mar 2023
                    </label>
                  </div>
                </td>
                <td>Joseph Dole</td>
                <td>Supplier</td>
                <td>88998</td>
                <td class="text-success">Delivered</td>
                <td>$4,582.39</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End:Advanced Table -->
  </div>
</div>