  <!-- Preloader Start -->
<div class="preloader">
  <img src="/template/assets/images/logo/logo.png" alt="DesignToCodes">
</div>
<!-- Preloader End -->
<div class="d2c_wrapper">
  <%= render 'sidebar'%>
  <!-- Main Body-->
  <div class="d2c_main p-4 ps-lg-3">
    <!-- Title -->
    <h4 class="mb-4 text-capitalize">Dashboard</h4>
    <!-- End:Title -->
    <%= render 'table'%>
  </div>
  <!-- End:Main Body -->
</div>
<!-- Offcanvas Toggler -->
<button class="d2c_offcanvas_toggle position-fixed top-50 start-0 translate-middle-y d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#d2c_sidebar" aria-controls="d2c_sidebar">
  <i class="far fa-hand-point-right"></i>
</button>
<!-- End:Offcanvas Toggler -->