<div class="card h-auto">
  <div class="card-header">
    <%= link_to sanitize("&larr; Back to #{@type}"), send("#{@type.to_s.pluralize}_path") %>
  </div>
  <div class="card-body">
    <%= yield %>
  </div>
</div>